<h1>Krusty Krab Patty-Thon!!!</h1>

<h2>Un-Eaten Krabby Patties</h2>

<ul>
    {{#each burgers}}
        {{#unless eaten}}
            {{> burgers/burger-block eaten=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Eaten Krabby Patties</h2>

<ul>
    {{#each burgers}}
        {{#if eaten}}
            {{> burgers/burger-block eaten=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add your own Krabby Patty!!!</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="pattyPic">Copy img link from the internet of your Krabby Patty:</label>
        <input type="text" name="img" id="pattyPic">
    </div>

    <button type="submit">Add Krabby Patty</button>
</form>